.feature-logo-wrapper p,.nft-image-wrapper p, .my-nft-template-wrapper p {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
    margin-bottom: 10px;
}
.feature-logo, .nft-template-image {
    border-radius: 20px;
    margin-bottom: 5px;
    max-width: 180px;
}

.navigation-icons .anticon {
    font-size: 18px;

}

.nft-image-wrapper .nft-image-box {
    position: relative;

}

.nft-image-wrapper .nft-image-box .mint-btn {
    position: absolute;
    bottom: 4px;
    background-color: rgba(245, 245, 245, 0.4);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: whitesmoke;
}